{% render "symfony.cmf.navigation.renderer:breadcrumbAction" with { 'url': url } %}

<h2 class="offset">Main navigation</h2>

{% render "symfony.cmf.navigation.renderer:menuAction" with {"url" : url} %}
