{% block cmf_core_checkbox_url_label_row %}
{% spaceless %}
{{ form_errors(form) }}
<label class="checkbox">
    <input type="checkbox" {{ block('widget_attributes') }}{% if value is defined %} value="{{ value }}"{% endif %}{% if checked %} checked="checked"{% endif %} />
    {{ label | trans(paths, translation_domain) | raw }}
</label>
{% endspaceless %}
{% endblock %}
